@{
    ViewData["Title"] = "Home";
}

<div class="hero">

    <div class="overlay">

        <h1 class="display-3 fw-bold">
            📚 Book Management System
        </h1>

        <p class="lead">
            Organize your books and categories with ease.
        </p>

        <a asp-controller="Books"
           asp-action="Index"
           class="btn btn-primary btn-lg m-2">
            View Books
        </a>

        <a asp-controller="Categories"
           asp-action="Index"
           class="btn btn-success btn-lg m-2">
            Categories
        </a>

    </div>

</div>